.b03 {
    .b-title {
        margin-bottom: 25px;
    }
}
.b03__box {
}
.b03-box {
    display: flex;
    justify-content: space-between;
}
.b03-box__col {
    width: 50%;

    display: flex;
    // flex-direction: column;
}
.half-container {
    width: 100%;
    max-width: calc(100% - (100% - $container_width / 2));
}
.b03-box__col--left,
.b03-box__col--right {
    padding-top: 145px;
    padding-bottom: 210px;

    background-size: cover;
    background-position: center;
}
.b03-box__col--left {
    background-image: url(../img/b03/b03-bg01.jpg);

    .half-container {
        margin-left: auto;
        padding-right: 3rem;


        @media screen and (max-width: $break_md) {
            padding-right: 1.5rem;
        }
    }
}
.b03-box__col--right {
    background-image: url(../img/b03/b03-bg02.jpg);

    .half-container {
        margin-right: auto;
        padding-left: 3rem;


        @media screen and (max-width: $break_md) {
            padding-left: 1.5rem;
        }
    }
}

.b03__descr {
    margin-bottom: 64px;
}
.b03__list {
    display: flex;
    flex-wrap: wrap;
    gap: 13px 8px;
}
.b03__item {
}
.b03__link {
    display: inline-flex;
    padding: 14px 20px;
    border-radius: 50px;

    background-color: rgba(#fff, 6%);
    border: 1px solid rgba(#fff, 27%);
}
