.b03
    .b03__box.b03-box
        .b03-box__col.b03-box__col--left
            .half-container
                h2.b-title Услуги для жизни
                .b03__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ul.b03__list
                    li.b03__item
                        a(href="#").b03__link Путешествия
                    li.b03__item
                        a(href="#").b03__link VIP-бронирование и билеты
                    li.b03__item
                        a(href="#").b03__link Детский консьерж
                    li.b03__item
                        a(href="#").b03__link Аренда люкс авто
                    li.b03__item
                        a(href="#").b03__link Организация мероприятий
                    li.b03__item
                        a(href="#").b03__link Менеджер по стилю жизни
                    li.b03__item
                        a(href="#").b03__link Любое ваше желание
                    li.b03__item
                        a(href="#").b03__link Все услуги



        .b03-box__col.b03-box__col--right
            .half-container
                h2.b-title Услуги для бизнеса
                .b03__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ul.b03__list
                    li.b03__item
                        a(href="#").b03__link Второе гражданство
                    li.b03__item
                        a(href="#").b03__link Бизнес-консьерж
                    li.b03__item
                        a(href="#").b03__link Клуб инвестиций
                    li.b03__item
                        a(href="#").b03__link Управление недвижимостью
                    li.b03__item
                        a(href="#").b03__link Организация бизнес мероприятий
                    li.b03__item
                        a(href="#").b03__link Любое ваше желание
                    li.b03__item
                        a(href="#").b03__link Все услуги

