.b04
    .b04__container.container
        .b04__box.b04-box
            h2.b04-box__title.b-title Мы сделаем все возможное и даже больше, какими бы нестандартными не были ваши запросы
            .b04-box__descr
                p от покупки кубика рубика в 3 часа ночи до приведения слона на день рождение или бронирования билетов на мероприятие, которых уже нет в продаже
            a.b04-box__btn.btn Хочу слона

        ul.b04__advantages.b04-advantages
            li.b04-advantages__item
                h3.b04-advantages__title Работаем 24 на 7
                p.b04-advantages__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            li.b04-advantages__item
                h3.b04-advantages__title Преимущество 2
                p.b04-advantages__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            li.b04-advantages__item
                h3.b04-advantages__title Преимущество 3
                p.b04-advantages__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
