.b05
	h2.b05__title.b-title Наши истории
	.b05__slider.b05-slider
		.b05-slider__wrapper
			.b05-slider__item.b05-story
				h3.b05-story__title
				.b05-story__text
					p Один из наших клиентов остановился с семьей в одном из пятизвездочных пляжных отелей, на территории которого были красивые семейные пляжные беседки.
					p Семья члена нашего клуба хотела, чтобы для них была зарезервирована определенная пляжная беседка на весь двухнедельный период пребывания. Наш сотрудник, менеджер по работе с этим клиентом, безуспешно пытался поговорить с руководством отеля. Отель не принимал никаких платежей за бронирование пляжных беседок.
					p Тем не менее, преданный своему делу менеджер по стилю жизни нашел способ выполнить пожелание наших клиентов. В первый день
			.b05-slider__item.b05-story
				h3.b05-story__title
				.b05-story__text
					p Один из наших клиентов остановился с семьей в одном из пятизвездочных пляжных отелей, на территории которого были красивые семейные пляжные беседки.
					p Семья члена нашего клуба хотела, чтобы для них была зарезервирована определенная пляжная беседка на весь двухнедельный период пребывания. Наш сотрудник, менеджер по работе с этим клиентом, безуспешно пытался поговорить с руководством отеля. Отель не принимал никаких платежей за бронирование пляжных беседок.
					p Тем не менее, преданный своему делу менеджер по стилю жизни нашел способ выполнить пожелание наших клиентов. В первый день
			.b05-slider__item.b05-story
				h3.b05-story__title
				.b05-story__text
					p Один из наших клиентов остановился с семьей в одном из пятизвездочных пляжных отелей, на территории которого были красивые семейные пляжные беседки.
					p Семья члена нашего клуба хотела, чтобы для них была зарезервирована определенная пляжная беседка на весь двухнедельный период пребывания. Наш сотрудник, менеджер по работе с этим клиентом, безуспешно пытался поговорить с руководством отеля. Отель не принимал никаких платежей за бронирование пляжных беседок.
					p Тем не менее, преданный своему делу менеджер по стилю жизни нашел способ выполнить пожелание наших клиентов. В первый день
