include ../includes/mixins

doctype html
html(lang="ru-RU")
    include ../includes/head
    body
        include ../includes/preloader
        include ../includes/b03
        include ../includes/b04
        include ../includes/b05

        main
